<div class="main-page">
    <h1 class="font-effect-emboss">Welcome to our Travel Agency</h1>
    <p class="font-effect-shadow-multiple">Where we make your dream vacations a reality!</p>
    <!-- <p class="font-effect-shadow-multiple">Our team of experts has scoured the globe to curate the most unforgettable experiences for you. From luxurious beach getaways to thrilling outdoor adventures, we have something for everyone.</p>
    <p class="font-effect-shadow-multiple">With our personalized itineraries, you can sit back and relax while we handle all the details, ensuring that your trip is seamless from start to finish. Our partnerships with top hotels and airlines mean that you'll enjoy exclusive perks and upgrades.</p>
    <p class="font-effect-shadow-multiple">So why wait? Start planning your next adventure with us today and let us create memories that will last a lifetime!</p> -->
  </div>