<div class="travelContainer">

  <p class="font-effect-shadow-multiple" style="font-size: xx-large;">Travel Options</p>
  <div style="display: flex; flex-direction: column;">
  <p class="font-effect-shadow-multiple" style="font-size: medium">Source: {{source}} </p><p class="font-effect-shadow-multiple" style="font-size: medium">Destination: {{destination}}</p>
  </div>
  <div class="table-striped table-hover"  style="max-height: 40vh; overflow-y: scroll; display: block;">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Vehicle Type</th>
                <th>Price per Passenger</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let option of newlistings | orderBy: 'price'">
                <td>{{ option.name }}</td>
                <td>{{ option.vehicleType }}</td>
                <td>{{ option.pricePerPassenger | currency }}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div>
    <p class="font-effect-shadow-multiple">Total Listings: {{ totalListings }}</p>
    <p class="font-effect-shadow-multiple">Minimum Price: {{ minPrice | currency }}</p>
    <p class="font-effect-shadow-multiple">Maximum Price: {{ maxPrice | currency }}</p>
    <p class="font-effect-shadow-multiple">Average Price: {{ avgPrice | number:'1.2-2' | currency }}</p>
</div>
</div>
